#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    width: 70%;

    /* background-color: blue; */
}


#header li {
    /* display: inline-block; */
    font-size: 14px;
    /* padding: 1%; */
    /* background-color: wheat; */


    color: #2C2C2C;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    /* background-color: red; */

    /* height: 20p; */
    text-align: right;
    padding-left: 2%;
}

#header a {
    color: #2C2C2C;
    text-decoration: none;
    font-family: Poppins;
}

#header a:active {
    text-decoration: underline;
}

#header nav {
    display: flex;
    /* background-color: #2C2C2C; */
    /* justify-content: flex-end; */
    width: 100%;
}

#header #left {
    margin-right: auto;
}

#right {
    /* display: flex; */
    /* justify-content: flex-end; */
}

#header #test {
    color: red;
}